.container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.cardBody {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.cardBody img {
    margin-right: 2rem;
    width: 200px;
    height: 155px;
    border-radius: 10px;
    object-fit: cover;
    vertical-align: middle;
    border-style: none;
}

.cardBody ul {
    margin: 0;
    padding-left: 0;
    width: 100%;
}

.cardBody ul li {
    list-style-type: none;
    padding: 0.25rem;
}

.cardBody ul li h4 {
    margin: 0;
    padding-bottom: 0.5rem;
    font-size: 1.40625rem;
    font-weight: 500;
    line-height: 1.2;
    border-bottom: 1px solid #555;
}

.span {
    margin: 0;
    padding-bottom: 0.25rem;
    border-bottom: 1px solid #555;
}

@media screen and (max-width: 1200px) {
    .cardBody {
        flex-direction: column;
        align-items: center;
    }
    .cardBody img {
        margin-right: 0;
        width: 140px;
        height: 95px;
    }
    .cardBody ul li h4 {
        font-size: 1.3rem;
        text-align: center;
    }
    .span {
        text-align: center;
        font-size: 0.8rem;
    }
    .description {
        font-size: 11px;
    }
}

@media screen and (max-width: 760px){
    .cardBody {
        margin-left: 40px;
        margin-right: 40px;
    }
    .description {
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media screen and (max-width: 400px) {
    .cardBody img {
        width: 100px;
        height: 75px;
    }
    .cardBody ul li h4{
        font-size: 1rem;
    }
    .span {
        font-size: 0.7rem;
    }
    .description {
        font-size: 10px;
    }
}

