.answer {
    padding: 0.9rem 1.25rem;
    border: 1px solid #555;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: transparent;
    color: #ffffff;
    font-size: inherit;
    text-align: left;
}

.answer:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.answer:last-child {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.answer:hover {
    background-color: #444;
}

.indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 1em;
    transition: background-color 0.4ms ease-in;
}

.default {
    background-color: #444;
}

.fail {
    background-color: #d62c1a;
}

.success {
    background-color: #00bc8c;
}

@media screen and (max-width: 1200px) {
    .answer {
        padding: 1.25rem 1.4rem;
        font-size: 13px;
    }
}

@media screen and (max-width: 760px) {
    .answer {
        padding: 0.4rem 1.4rem;
        font-size: 13px;
    }
    .indicator {
        margin-right: 2em;
        width: 8px;
        height: 8px;
    }
}

@media screen and (max-width: 400px) {
    .answer {
        padding: 0.3rem 1.4rem;
        font-size: 12px;
    }
    .indicator {
        width: 7px;
        height: 7px;
    }
}
