.list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    border-radius: 6px;
    background-color: #007c5d;
    padding-inline-start: 0;
}

.item {
    width: 165px;
    height: 35px;
    line-height: 2.2;
    text-align: center;
}

.item a {
    text-decoration: none;
    color: #ffffff;
}