.list {
    margin-top: 0;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    border-radius: 0.25rem;
    background-color: #008966;
    padding-inline-start: 0;
}

.item {
    width: 165px;
    height: 35px;
    line-height: 2.2;
    text-align: center;
}

.item a {
    text-decoration: none;
    color: #ffffff;
}

.activeItem {
    background-color: #00BC8C;
}