.audioPlayer {
    padding: 0.25rem;
}

.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.playBackButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 12px;
    transition: .2s;
    width: 40px;
    height: 40px;
    border: 2px solid #00bc8c;
    border-radius: 50%;
    cursor: pointer;
}

.playBackButton svg {
    transition: .2s;
    width: 18px;
    height: 18px;
    color: #54b1c1;
}

.timeBar {
    position: relative;
    flex: 1 1;
    height: 30px;
}

.timeBarLine {
    margin-top: 10px;
    height: 4px;
    background: linear-gradient(to right, rgb(0, 188, 140) 0%, rgb(61, 133, 140) 0%, rgb(115, 115, 115) 0%, rgb(115, 115, 115) 100%);
}

.timeBarCircle {
    position: absolute;
    top: 10px;
    width: 16px;
    height: 16px;
    background-color: grey;
    border-radius: 50%;
    transform: translate(-50%,calc(-50% + 2px));
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 20%);
    cursor: pointer;
}

.timeInfo {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    font-size: 11px;
    color: #d3d3d3;
}