.answers {
    display: flex;
    margin-right: 1.3%;
    min-width: 48.7%;
}

.answersList {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 0;
    width: 100%;
    height: 310px;
    list-style: none;
    background-color: #303030;
}

.answersList li {
    padding: 0.85rem 1.25rem;
    border: 1px solid #555;
    cursor: pointer;
}

.answersList li:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.answersList li:last-child {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.answersList li:hover {
    background-color: #444;
}

.answersList span {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 15px;
    border-radius: 50%;
    transition: .1s;
    background-color: #444;
}