@import 'src/colors';
@import 'src/displaySizes';

.answers {
  margin-right: 1.3%;
  min-width: 48.7%;
  min-height: 100%;
  @media screen and (max-width: $bp-medium) {
    margin-right: 0;
  }

  & .answersList {
    margin: 0;
    padding-left: 0;
    width: 100%;
    min-height: 100%;
    list-style: none;
    background-color: $midnightSandGray;
    @media screen and (max-width: $bp-medium) {
      margin-bottom: 25px;
    }
  }
}