.questionContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    padding: 1rem;
    border-radius: 0.25rem;
    background-color: #303030;
}

.questionContainer img {
    width: 200px;
    height: 155px;
    border-radius: 10px;
}

.listContainer {
    width: 100%;
}

.list {
    margin-left: 40px;
    margin-right: 40px;
}

.list h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    padding: 0.25rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    border-bottom: 1px solid #555;
}