.topPanel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 200px;
    height: 55px;
    object-fit: contain;
}

.score {
    font-size: 1.171875rem;
    font-weight: 500;
    line-height: 1.2;
    color: #ffffff;
}

@media screen and (max-width: 1024px) {
    .logo {
        width: 120px;
        height: 35px;
    }
    .score {
        font-size: 16px;
    }
}

@media screen and (max-width: 760px) {
    .logo {
        width: 90px;
        height: 30px;
    }
    .score {
        font-size: 14px;
    }
}

@media screen and (max-width: 400px) {
    .topPanel {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .logo {
        width: 50px;
        height: 15px;
    }
    .score {
        font-size: 10px;
    }
}