.topPanel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 200px;
    height: 55px;
}

.score {
    font-size: 1.171875rem;
    font-weight: 500;
    line-height: 1.2;
    color: #ffffff;
}